html {
  position: relative;
  min-height: 100%;
}

/* COMEÇO HEADER */
.header {
  position: sticky;
  top: 0;
  background: #d44d4d;
  width: 100%;
  height: 90px;
  padding: 15px 0;
  z-index: 10;
}

.logo {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

.navbar {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: right;
}

.navbar ul li {
  display: inline-block;
  margin-left: 40px;
  margin-top: 10px;
}

.navbar ul li a {
  color: #ffffff;
}

/* FIM HEADER */


/* COMEÇO PONTOS DA EMPRESA */

.pontos {
  margin-top: 20px;
  height: 200px;
}

.titulo {
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.pts {
 height: 150px;
 font-size: 20px ;
 font-weight: bolder;
 font-family: Arial, Helvetica, sans-serif;
 text-align: center;
 border-bottom: 2px solid #000000;
 border-right: 2px solid #000000;
 /* box-shadow: 3px 3px #000000 ; */
}

.pts:hover {
  box-shadow: 5px 5px 5px grey;
}

/* FIM PONTOS DA EMPRESA */

/* COMECO COMENTARIO CLIENTES */

.coment {
  margin-top: 50px;
  /* background: #00000010; */
  background: #ff5f5f6c;
  text-align: center;
  padding: 50px 170px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}


/* FIM COMENTARIO CLIENTES */

/* COMECO FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  background: #ff5f5f91;
  width: 100%;
  height: 100px;
  padding: 20px 0;
}

.footer h2 {
  font-weight: bold;
  font-size: 15px;
}

.footer p{
  font-size: 13px;
}

.footer_redes ul li {
  display: inline-block;

}

.footer_redes ul li a{
  border-bottom: 2px solid #000000;
  display: block;
  padding: 10px;
}
/* FIM FOOTER */

