/* COMEÇO HEADER */

html {
  position: relative;
  min-height: 100%;
}

.header {
  top: 0;
  background: #d44d4d;
  width: 100%;
  position: sticky;
  padding: 15px 0;
  z-index: 10;
}

.logo {
  color: #ffffff;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
}

.navbar {
  color: #ffffff;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: right;
}

.navbar ul li {
  display: inline-block;
  margin-left: 40px;
  margin-top: 10px;
}

.navbar ul li a {
  color: #ffffff;
}

/* FIM HEADER */

/* COMECO FOOTER */
.footer {
  bottom: 0;
  background: #ff5f5f91;
  width: 100%;
  height: 70px;
  position: absolute;
  padding: 15px 0;
}

/* FIM FOOTER */

/* INTRODUCAO */
.introducao {
  padding-top: 90px;
}

/* PRATOS DA CASA */
.pratos-casa {
  background-color: #d44d4d;
  height: 570px;
  width: 800px;
}

.pratos-casa p {
  color: #ffffff;
}

.subtitulo {
  color: #d44d4d;
}

/* JAVASCRIPT */
.js [data-slide] {
  position: relative;
}
.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
}

.js [data-slide-nav] {
  display: block;
  text-align: center;
  margin-bottom: 100px;
}

.js [data-slide-nav] button {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 4px;
  border: none;
  padding: 0px;
  border-radius: 6px;
  text-indent: -99px;
  overflow: hidden;
  background: #ff5f5f91;
}

.js [data-slide-nav] button.active {
  background: #d44d4d;
}
