html {
  position: relative;
  min-height: 100%;
}

/* COMEÇO HEADER */
.header {
  position: sticky;
  top: 0;
  background: #d44d4d;
  width: 100%;
  padding: 15px 0;
  z-index: 10;
}

.logo {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

.navbar {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: right;
}

.navbar ul li {
  display: inline-block;
  margin-left: 40px;
  margin-top: 10px;
}

.navbar ul li a {
  color: #ffffff;
}

/* FIM HEADER */

/* COMEÇO PONTOS DA EMPRESA */

.pontos {
  margin-top: 20px;
  height: 200px;
}

.titulo {
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.pts {
 padding: 0 20px;
 height: 150px;
 font-size: 20px ;
 font-weight: bolder;
 font-family: Arial, Helvetica, sans-serif;
 text-align: center;
 border-bottom: 2px solid #d44d4d;
 border-right: 2px solid #d44d4d;
 /* box-shadow: 3px 3px #000000 ; */
}

.pts:hover {
  box-shadow: 5px 5px 5px grey;
}

/* FIM PONTOS DA EMPRESA */

/* COMECO COMENTARIO CLIENTES */

.coment {
  margin-top: 50px;
  /* background: #00000010; */
  background: #ff5f5f6c;
  text-align: center;
  padding: 50px 170px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 20px;
}

/* FIM COMENTARIO CLIENTES */

/* COMECO FOOTER */
.footer {
  position: relative;
  bottom: 0;
  background: #ff5f5f91;
  width: 100%;
  height: 100px;
  padding: 20px 0;
}

.footer h2 {
  font-weight: bold;
  font-size: 15px;
}

.footer p {
  font-size: 13px;
}

.footer_redes ul li {
  display: inline-block;
}

.footer_redes ul li a {
  border-bottom: 2px solid #000000;
  display: block;
  padding: 10px;
}
/* FIM FOOTER */

/* INTRODUCAO */
.introducao {
  padding-top: 90px;
}

/* PRATOS DA CASA */
.pratos-casa {
  background-color: #d44d4d;
  height: 570px;
  width: 800px;
}

.pratos-casa p {
  color: #ffffff;
}

.subtitulo {
  color: #d44d4d;
}

/* JAVASCRIPT */
.js [data-slide] {
  position: relative;
}
.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
}

.js [data-slide-nav] {
  display: block;
  text-align: center;
  margin-bottom: 100px;
}

.js [data-slide-nav] button {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 4px;
  border: none;
  padding: 0px;
  border-radius: 6px;
  text-indent: -99px;
  overflow: hidden;
  background: #ff5f5f91;
}

.js [data-slide-nav] button.active {
  background: #d44d4d;
}

.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}

.js [data-anime] {
  opacity: 0;
}
.js .anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}

/* CONTATO

.img-contato {
  width: 100%;
  height: 150px;
  background: url(../img/contato.jpg) no-repeat center;
  background-size: cover;

}
.contato p {
  padding-top: 50px;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  color: #000000;
  text-align: center;
  background:no-repeat center;
  background-size: cover;
  font-weight: bolder;

}
.contat-f {
  z-index: 1;
  height: 300px;
}

.img-contato p:after {
  content: "";
  display: block;
  width: 200px;
  height: 3px;
  background: #ffffff;
  margin: 5px auto 10px auto;
}

.form {
  display: inline-block;
  width: 200px;
  z-index: 10;
}

.contato_form {
  padding-right: 60px;
  width: 300px;
  height: 10px;
}

.contato_form label{
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}

.contato_form input {
  display: block;
  width: 100%;
  border: 4px solid #fd3636;
  background: none;;
  padding: 7px 10px;
  margin-bottom: 10px;
  outline: none ;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.contato_form textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 4px solid #fd3636;
  background: none;
  padding: 7px 10px;
  margin-bottom: 10px;
  outline: none ;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}

.contato_form button {
  padding: 7px 40px;
 
  background: none;
}

.contato_form select {
  border-color: #ff9e9eb2;

  border-radius: 5px;
  border-width: 3px;
}

.contato_form select:hover {
  border-color: #fd3636 ;

}


.teste {
  background: blue;
  height: 500px;
} */

